<a href="https://colab.research.google.com/github/Aniruth17/PythonBasics.ipynb/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a = 15.64321
b = 40
c = a // b #[decimal values are truncated]
print(c)
# + - * / // % - Arithmatic operators
# += -= *= /= //= %= Augmented Arithmatic operators
#/ % //

0.0

In [ ]:
a*=5 #[a = a+5]
print(a)

78.21605

In [ ]:
b = 14
b//=5
print(b)

In [ ]:
#Relational operators will yield a boolean result True / False True 1 and False 0
#> >= < <= == [Compare two values] !=
# = ---LHS = RHS [LHS should be an identifier / RHS can be variable, value or expression]

In [ ]:
a = 14.3
b = 14.3
c = a < b
print(c)

False

In [ ]:
x = int(input())
y = int(input())
print(x/y)

In [ ]:
a = int(input('Arthi: '))
b = float(input('Enter a float value: '))
c = input('Enter your name: ')

Arthi: 15
Enter a float value: 25.5
Enter your name: hyr213.5

In [ ]:
print(type(c))

<class 'str'>

In [ ]:
#Odd nos
#n 10 - 1 3 5 7 9
n = 10
for i in range(2,n,2):
  print(i,end=' ')

2 4 6 8

In [ ]:
#range(1,n,2)  ---1 part write outside the while loop
#n --- n part 2 --- condition (n-1)
#2 --- 2 part 3 --- increment --- should be at last
n = 10
i = 2
while i < n:
  print(i,end=' ')
  i+=2

2 4 6 8 10

In [ ]:
n= 10
i = 1
while i < n:
  if i%2 != 0:
    print(i,end = ' ')
  i+=1

1 3 5 7 9

In [ ]:
for i in range(5):
  print(i)
#range(5)
#range(0,5,1)
i = 0
while i < 5:
  print(i)
  i+=1

0
1
2
3
4
0
1
2
3
4
5

In [ ]:
n= 10

  if i%2 != 0:
    print(i,end = ' ')

In [ ]:
#break
for i in range(1,11):# 1 2 3 4 5 6 7 8 9 10
  if i%3==0:
    break
  else:
    print(i,end = ' ')

In [ ]:
#contiune
for i in range(1,11):# 1 2 3 4 5 6 7 8 9 10
  if i%3==0:
    continue
  else:
    print(i,end = ' ')

In [ ]:
i = 1
n = 11
while i<n:
  if i%3==0:
    i+=1
    continue
  else:
    print(i,end=' ')
  i+=1

In [ ]:
#multiples of 3 till n
n = int(input('Enter the n value: '))
for i in range(n):
  if i%3==0:
    print(i,end = ' ')

In [ ]:
#multiplication table
End = int(input('Till waht value: '))
Start = int(input('Enter the starting value: '))
Table = int(input('Enter which table: '))
for i in range(Start,End+1):
  print(Table,' * ',i,' = ',Table * i)

In [ ]:
#Average of the numbers
#10 15 5 6 7 = (10+15+5+6+7)/5
'''0+10 = 10
   10+15 = 25
   25+5 = 30
   30+6 = 36
   36+7 = 43
   43/5 = 8.6'''
Sum = 0
n = int(input('Enter the n value: '))
for i in range(n):
  x = int(input('Enter the x value: '))
  Sum += x
print('Average of ',n,' numbers = ',Sum/n)

In [ ]:
#Series
'''1/3+3/4+5/5+7/6+.... n terms 
(1/3)+(3/4)+(5/5)+(7/6)+....up to n terms
nr = 1  increased by 2
dr = 3  increased by 1
'''
sum = 0
nr = 1
dr = 3
for i in range(5):
  print(nr,'/',dr,'+',end = ' ')
  sum = sum + nr/dr
  nr += 2
  dr += 1
print(sum)

In [ ]:
#Even Printing
#n 10 - 1 3 5 7 9
n = 10
for i in range(2,n+1,2):
  print(i,end=' ')

In [ ]:
n= 10
for i in range(2,n+1):
  if i%2 == 0:
    print(i,end = ' ')

In [ ]:
n = 9
for i in range(1,n+1,2):
  print(i,end=' ')

In [ ]:

#Sum of first 5 even nos:
n= 10
sum = 0
for i in range(2,n+1):
  if i%2 == 0:
    sum += i
print('Sum of first 5 even nos = ',sum)

In [ ]:
#Sum 5 Even nos.
#n 10 
n = 10
sum = 0
for i in range(2,n+1,2):
  sum+=i
print('Sum of first 5 even nos = ',sum)

In [ ]:
#Factorial of a number
#n = 6 Product = 6*5*4*3*2*1 = 1*2*3*4*5*6
n = int(input('Enter the n value:'))
prod = 1
for i in range(1,n+1):
  prod*=i
print('The factorial of ',n,' = ',prod)

In [ ]:
#Factorial of a number
#n = 6 Product = 6*5*4*3*2*1 = 1*2*3*4*5*6
n = int(input('Enter the n value:'))
prod = 1
i = 1
while i <= n:
  prod*=i
  i+=1
print('The factorial of ',n,' = ',prod)

Enter the n value:5
The factorial of  5  =  120

In [ ]:
#Factorial of a number
#n = 6 Product = 6*5*4*3*2*1 
n = int(input('Enter the n value:'))
prod = 1
i = n
while i >= 1:
  print(i,' * ',end= ' ')
  prod*=i
  i-=1
print(' = ',prod)

Enter the n value:6
6  *  5  *  4  *  3  *  2  *  1  *   =  720

In [ ]:
#Factorial of a number
#n = 6 Product = 6*5*4*3*2*1 
n = int(input('Enter the n value:'))
prod = 1
for i in range(n,0,-1):#Step value is a must - since higher to lower
  print(i,' * ',end= ' ')
  prod*=i
print(' = ',prod)

Enter the n value:5
5  *  4  *  3  *  2  *  1  *   =  120

In [ ]:
#HCF - GCD
#a   b
#18 30
#18 - 2 * 3 * 3
#30 - 2 * 3 * 5
#a > b
#18  30
#18 12 (30-18)
#6  12 (18-12)
#6  6 (12-6)
a = int(input('Enter the a value: '))
b = int(input('Enter the b value: '))
a1 = a
b1 = b
while a!=b:
  if a > b:
    a = a - b
  else:
    b = b - a
print('The GCD of ',a1,'and ',b1,' = ',b)

Enter the a value: 1000
Enter the b value: 765
The GCD of  1000 and  765  =  5

In [ ]:
#Tejas Method
a = int(input('Enter the a value: '))
b = int(input('Enter the b value: '))
a1 = a
b1 = b
while b:
  a,b = b,a % b
print('The GCD of ',a1,'and ',b1,' = ',a)

Enter the a value: 18
Enter the b value: 30
The GCD of  18 and  30  =  6

In [ ]:
#Sum of the digits - n - 1234 - Sum of n = 1+2+3+4 = 10, n 15 - Sum = 1+5 = 6
#15
#5 - 15 % 10 = 5
#15 - 1 - 1%10 = 1
n = int(input('Enter the n value: '))
n1 = n
sum = 0
while n > 0:
  rem = n % 10
  sum = sum + rem 
  n = n // 10 # 15 // 10 = 1, 173 // 10 = 17, 1234 // 10 = 123
print('Sum of the digits ',n1,' = ',sum)

Enter the n value: 1253
Sum of the digits  1253  =  161

In [ ]:
#inner loop
for i in range(1,4): # outer loop -----   row
  for j in range(1,5): # inner loop ----- columns
    print(j,end=' ') # 12 times ------- outerloop * innerloop
  print()

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
#inner loop
n = 6
for i in range(1,n): # outer loop -----   row 
  for j in range(1,i+1): # inner loop ----- columns
    print(j,end=' ') # 12 times ------- outerloop * innerloop
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Fibonacci Series - Method 01 - Generating fro m the third term
# n= 10 0 1 1 2 3 5 8 13 21 34
#0 1 - 1
#1 1 - 2
#1 2 - 3
a = 0
b = 1
n = 5
print(a,' ',b,end = ' ')
for i in range(n-2): #i 0 1 2
  c = a + b
  print(c,end = ' ')
  a = b
  b = c

0   1 1 2 3

In [ ]:
#Fibonacci Series - Method 02 - We are generating from the term 1
n =10
a = -1
b = 1
for i in range(n): 
  c = a + b
  print(c,end = ' ')
  a = b
  b = c

0 1 1 2 3 5 8 13 21 34

In [ ]:
n = int(input('Enter the ending term:'))
m = int(input('Enter the table: '))
for i in range(1,n+1):
  print(i,'*',m,'=',m*i)

Enter the ending term:5
Enter the table: 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

In [ ]:
Truehuman = 'Loves One and All'
print(Truehuman[-9:-3])
print(Truehuman[:10])
print(Truehuman[10:-12])

e and
Loves One

In [ ]:
# n odd numbers using while
n = 20
i = 1
while i <= 20:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19

In [ ]:
n = 1
while n < 4:
  print(n,' ',n*n)
  n+=1

1   1
2   4
3   9

In [ ]:
for n in range(1,4,1):
  print(n,' ',n*n)

1   1
2   4
3   9

In [ ]:
#Max and Minimum of n numbers
n = int(input('Enter the first value: '))
Min = Max = n
for i in range(3):
  n = int(input('Enter a number: '))
  if n < Min:
    Min = n
  if n > Max:
    Max = n
print('Maximum = ',Max)
print('Minimum = ',Min)

In [ ]:
#Maximum of n numbers
#n 5 ----> 10 20 -4 -5 100
x = int(input('Enter a no: '))
Max = x #Min = x
for i in range(4): #n-1 n = 5
  x = int(input('Enter a no: '))
  if x > Max:  #x < Min
    Max = x    #Min = x
print('Maximum of 5 nos = ',Max)

Enter a no: 10
10
Enter a no: -99
Enter a no: 7
Enter a no: 45
Enter a no: 55
Maximum of 5 nos =  55

In [ ]:
#Converting max of n numbers to while
x = int(input('Enter a no: '))
Max = x 
i = 0
while i < 4:
  x = int(input('Enter a no: '))
  if x > Max:  #x < Min
    Max = x    #Min = x
  i = i + 1
print('Maximum of 5 nos = ',Max)

Enter a no: 10
Enter a no: 7
Enter a no: 34
Enter a no: 32
Enter a no: 44
Maximum of 5 nos =  44

In [ ]:
#Prime numbers
#n = 17 ----2...16   17%2 17%3.... 17%16
n = 151
for i in range(2,n):
  if n%i == 0:
    print(n,'is not a prime number')
    break
else:
  print(n,' is a prime number')

151  is a prime number

In [ ]:
#Prime number another logic
import math
n = 1236
m = math.sqrt(n)
for i in range(2,int(m)+1):
  if n%i == 0:
    print(n,'is not a prime number')
    break
else:
  print(n,' is a prime number')

1237  is a prime number

In [ ]:
sign = 1
for i in range(5,51,5):
  term = i * sign
  print(term)
  sign = sign * -1

5
-10
15
-20
25
-30
35
-40
45
-50

In [ ]:
for i in range(-5,-51,-5):
  print(i)

-5
-10
-15
-20
-25
-30
-35
-40
-45
-50

In [ ]:
#Series -5, 10, -15, 20, -25 upto n
sign = -1
for i in range(5,26,5):
  term = i * sign
  print(term,end = ' ')
  sign *= -1

In [ ]:
#Series 5 -10 15 -20....n term
sign = -1
for i in range(5,26,5):
  sign *= -1
  print(term,end = ' ')
  term = i * sign

50 5 -10 15 -20

In [ ]:
a = 17.25
b = 11
c = a % b
print(c)

In [ ]:
a = 5
b = 7
print(a/b)

In [ ]:
a,b = 10,20
c,d = 30,40
a,b = d,c
print(a,b,c,d)

In [ ]:
a,b,c = 10,20,30
print(a,b,c)
a,b,c = c,b,a
print(a,b,c)

In [ ]:
a = 5
b = 10
a,b,a = b+10,a+5,a+b
print(a,b)

In [ ]:
a = 10
b = 10.25
c = 'Good afternoon'
print(type(a),id(a),a)
print(type(b),id(b),b)
print(type(c),id(c),c)

<class 'int'> 10914784 10
<class 'float'> 140254631996176 10.25
<class 'str'> 140254627804528 Good afternoon

In [ ]:
a = 'abcdef'
#a b c d e f
#0 1 2 3 4 5
print(a,id(a))
print(a[0],id(a[0]))
print(a[-1],a[5],a[len(a)-1])
a[3] = 'k'
print(a)

abcdef 140254628216648
a 140255201977096
f f f

TypeError: ignored

In [ ]:
s1 = 10
s2 = int(input())
print(s1 is s2)
print(s1 == s2)

10
True
True

In [ ]:
import statistics
x = [1,2,3,4,5,6,7,89,10]
print(statistics.mean(x))
y = statistics.median([1,2,3,4,5,6,7,8,9])
print(y)
print(statistics.mode([1,2,2,3,3,3,4,4,4,4]))

In [ ]:
a = True
b = False
c = not(a and b)
if c:
  print('True value is printed')
else:
  print('False value is printed')

True value is printed

In [ ]:
c = ((True and True) or (not False))
print(c)

In [ ]:
c = ((5 + 2) - ((3 ** 2) / 3))
# c = ((5+2)-(9/3))
# c = ((5+2)-3.0)
# c = (7 - 3.0)
#**, * /,+ -

print(c)

4.0

In [ ]:
c = 5//3
print(c)

1.6666666666666667

In [ ]:
c = (20 + -10) < 12
print(c)

In [ ]:
num3 = 24
print(num3 <= 24)
print(not(num3))

In [ ]:
c = ((2 == 1) == 2)
print(c)

False

In [ ]:
c = 2+3 == 5 == len("Arthi")
print(c)

In [ ]:
c = len(' ')
print(c)

In [ ]:
String = "All the best"
print(len(String),end='')
print(String[-1],end='')
print(String[-3],end='')
print(String[3],end='')
print(String)

12te All the best

In [ ]:
x = -16
if x==0:
  print("Zero",end='')
elif x==3:
  print("Three")
else:
  pass
print("Finish")

Finish

In [ ]:
a = False
b = True
c = False
print(not a and b) #(1 and 1)
#not and[*] or[+]
#+ - 1+1 = 1
#* 1.1 = 1

True

In [ ]:
a = False
b = True
c = False
print((a and b)or not c)

In [ ]:
a = False
b = True
c = False
d = not((not b  or not a)and c) or a
print(d)

In [ ]:
a,b,c = 2,3,6
d = a + b * c / b
print(d)

In [ ]:
c = type(len('arthi'))
print(c)

<class 'int'>

In [ ]:
c = type('a')
print(c)

<class 'str'>

In [ ]:
number = 250
while number <=1000:
  if number>=250:
    print(number)
    number = number+100
  else:
    print(number*2)
    number = number+50

In [ ]:
_a = 10
print(_a)

In [ ]:
Roll_no = 10
print(Roll_no)

In [ ]:
a = 10
b = 20
c = 30
d,e,f = a+2,b+4,c+6
print('a,b,c: ',a,b,c,'d,e,f:',d,e,f)

a,b,c:  10 20 30 d,e,f: 12 24 36

In [ ]:
a = True
b = False
c = True
d = True
e = a and b
print('E value is: ',e)
f = a and b or c
print('F value is: ',f)
g = a and b or not c
print('G value is: ',g)
h = a and (b or not c)
print('H value is: ',h)
i = not a and (b or not c)
print('I value is: ',i)

In [ ]:
a = 12 != 13.5 
print(a)

True

In [ ]:
a = 12 + 3 ** (2 - 3 / 2)
print(a)

13.732050807568877

In [ ]:
a = (12 + 3)**(2 + 5) - 10
print(a)

170859365

In [ ]:
a = (12+3)**(2+2)-10
print(a)

In [ ]:
a = 1110
if a != 10:
  print('One')
elif a <= 10:
  print('Two')
else:
  print('Three')
print('All the best')

One
All the best

In [ ]:
a = 10.0
if a == 10:
  print('One')
elif a < 10:
  print('Two')
else:
  print('Three')
print('All the best')

One
All the best

In [ ]:
a = 0.3
if a == 0.1+0.1+0.1:
  print("True")
else:
  print("False")

False

In [ ]:
#Basic Input Statement 
a = int(input('Enter the a value: '))
b = float(input('Enter the b value: '))
c = input('Enter a character / string: ')
#Basic Print Statement
print(a,b,c)
print(a)
print(b)
print(c)
print('a','b','c')
print('Learning Output statement')
print("Value of a = ",a)
print("Vlaue of b = ",b)
print('Value of c = ',c)
print(a,' is the value of a')
print(b,' is the value of b')

Enter the a value: 100
Enter the b value: 76.54
Enter a character / string: Good Morning
100 76.54 Good Morning
100
76.54
Good Morning
a b c
Learning Output statement
Value of a =  100
Vlaue of b =  76.54
Value of c =  Good Morning
100  is the value of a
76.54  is the value of b

In [ ]:
name = input('Enter your name: ')
print('My name: ',name)

Enter your name: James Bond 007
My name:  James Bond 007

In [ ]:
name1 = input('Enter your name: ')
name2 = input('Enter your name: ')
print(name1+name2)

Enter your name: 34
Enter your name: 78
3478

In [ ]:
name1 = int(input('Enter the name: '))
name2 = int(input('Enter the name:'))
print(name1+name2)

Enter the name: 34
Enter the name:78
112

In [ ]:
#if statement - slide 02
x = 50
if x < 10:
  print('Smaller')
if x > 20:
  print('Bigger')
print('Finis')

In [ ]:
#if statement - slide 04
x = 5
if x == 5:
  print('Equal 5')
if x > 4:
  print('Greater than 4')
if x >= 5:
  print('Greater than or Equal to 5')
if x < 6:
  print('Less than 6')
if x <= 5:
  print('Less than or eqaul to 5')
if x != 6:
  print('Not equal 6')

Equal 5
Greater than 4
Greater than or Equal to 5
Less than 6
Less than or eqaul to 5
Not equal 6

In [ ]:
#if statement - slide 05 - One way decisions
x = 6
print('Before 5')
if  x == 5 :
  print('Is 5')
  print('Is Still 5')
  print('Third 5')
print('Afterwards 5')
print('Before 6')
if x == 6 :
  print('Is 6')
  print('Is Still 6')
  print('Third 6')
print('Afterwards 6')

In [ ]:
x,y = 20,60
y,x,y = x,y-10,x+10
print(x,y)

50 30

In [ ]:
a,b = 12,13
c,b = a*2,a/2
print(a,b,c)

12 6.0 24

In [ ]:
#Nested if - slide 06
x = 142
if x > 1:
  print('More than one')
  if x < 100 : 
    print('Less than 100')
print('All done')

More than one
All done

In [ ]:
#if statement - two way using else - slide 08
x = 2
if x > 2:
  print('Bigger')
else:
  print('Smaller')
print('All done')

Smaller
All done

In [ ]:
#if statement - multiway - slide 10
x = 0
if x < 2 :
  print('Small')
elif x < 10 :
  print('Medium')
else :
  print('LARGE')
print('All done')

Small
All done

In [ ]:
#if statement - multiway - slide 11
x = 5
if x < 2 :
  print('Small')
elif x < 10 :
  print('Medium')
else :
  print('LARGE')
print('All done')

Medium
All done

In [ ]:
#if statement - multiway - slide 12
x = 20
if x < 2 :
  print('Small')
elif x < 10 :
  print('Medium')
else :
  print('LARGE')
print('All done')

LARGE
All done

In [ ]:
# if statement - Multiway Puzzle 01 - slide 14
x = 500
if x < 2:
  print('Below 2')
elif x >= 2: 
  print('Two or more')
else:
  print('Something else') #will not get printed

Two or more

In [ ]:
# if statement - Multiway Puzzle 02 - slide 14
x = 9
if x < 2:
  print('Below 2')
elif x < 20:
  print('Below 10')
elif x < 10: 
  print('Below 20') #will not get printed
else:
  print('Something else')

Below 10

In [ ]:
n = 5
for i in range(n,0,-1):
  for space in range(n-i):
    print(end = ' ')
  for j in range(i,0,-1):
    print(j,end = '')
  print()

54321
 4321
  321
   21
    1

In [ ]:
for i in range(5):
  print(i,end = ' ')

0 1 2 3 4

In [ ]:
for i in range(1,5,2):
  print(i,end = ' ')

1 3

In [ ]:
for i in [1,3,5]:
  print(i,'   ',i*i,'  ',i*i*i)

1     1    1
3     9    27
5     25    125

In [ ]:
for i in ['apple','ball','cat']:
  print(i)

apple
ball
cat

In [ ]:
i = 1
while i < 4:
  print(i*i)
  i+=1

1
4
9

In [ ]:
'''for i in range(5):
    print(i,end = ' ')# 0...4'''
i = 0 #1. Intial Value
while i < 5: #2. Condition Part
  print(i,end=' ')
  i+=1 #3. Step Value

0 1 2 3 4

In [ ]:
'''for i in range(1,5,2):
    print(i,end = ' ') '''
i = 1                #1. Intial Value
while i < 5:         #2. Condition Part
  print(i,end = ' ')
  i+=2               #3. Step Value

1 3

In [ ]:
#5 4 3 2 1
i = 5
while i > 0:
  print(i,end  = ' ')
  i-=1

5 4 3 2 1

In [ ]:
#5 4 3 2 1
for i in range(5,0,-2):
  print(i,end = ' ')

5 3 1

In [ ]:
#break
for i in range(1,11): #1...10
  if i%3==0: #3%3 == 0 - True
    break
  else:
    print(i)

1
2

In [ ]:
#continue
for i in range(1,12,2): #1...10
  if i%3==0: #3%3 == 0, 6%3 === 0, 9%3==0 - True
    continue
  else:
    print(i)

1
5
7
11

In [ ]:
for i in range(10,1,-1):
  print('In the loop',i)
else:
  print('Exiting the loop')

In the loop 10
In the loop 9
In the loop 8
In the loop 7
In the loop 6
In the loop 5
In the loop 4
In the loop 3
In the loop 2
Exiting the loop

In [ ]:
#Inner Loops
n = 5
for i in range(1,n+1): # Outer loop no of rows
  for j in range(1,i+1): # Inner loop no of columns range(1,3):1 2  
    print(i,end = ' ') # Values in the specified
  print() # Blank line after each row

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
s = '0123456789'
print(s[3],',',s[0:3],'-',s[2:5])
print(s[:3],'-',s[3:],',',s[3:100])
print(s[20:],s[2:1],s[1:1])

3 , 012 - 234
012 - 3456789 , 3456789

In [ ]:
a = float(input('Enter a float value: '))
b = float(input('Enter another value'))
if a > b:
  print(a)
else:
  print(b)

Enter a float value: 10.453
Enter another value12.345
12.345

In [ ]:
a = int(input())
if a % 2 == 0:
  print('Even-It is divisible by 2')
else:
  print('Odd-It is not divisible by 2')

79
Odd

In [ ]:
a = int(input())
if a % 8 == 0:
  print('It is divisible by 8')
else:
  print('It is not divisible by 8')

1000
It is divisible by 8

In [ ]:
a = int(input())
if a % 4 == 0:
  print('It is a leap year')
else:
  print('It is not leap year')

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a > b and a > c:
  print('a is biiger: ',a)
elif b > c:
  print('b is bigger: ',b)
else:
  print('c is bigger: ',c)

1
2
3
3

In [ ]:
for i in range(10):# i 0 to n-1 (0,5,1) (start,end-1,inc/dec)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):# i 0 to n-1 (1,5,1)
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,15,4):# i 0 to n-1
  print(i)

1
5
9
13

In [ ]:
i = 1
while i < 15: #i <= 14
  print(i)
  i+=4

In [ ]:
for i in range(15,0,-4):# i 0 to n-1
  print(i)

15
11
7
3

In [ ]:
i = 15
while i > 0:
  print(i)
  i-=4 #i = i-4

15
11
7
3

In [ ]:
#n! = 5! = 5 * 4 * 3* 2* 1 = 120
n = int(input('Enter n value: '))
fact = 1
for i in range(n,0,-1):
  fact = fact * i
print(fact)

Enter n value: 5
120

In [ ]:
n = int(input('Enter n value: '))
fact = 1
i = n
while i > 0:
  fact = fact * i
  i=i-1
print(fact)

Enter n value: 5
120

In [ ]:
 #2 * 1 = 2 (2 * 1)
 #2 * 2 = 4 (2 * 2)
 #2 * 10 = 20 (2 * 10)
 m = 2
 for i in range(1,11):
   print(m,'*',i,'=',m*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
L = [23, 9, 14, 2, 28, 19, 3, 15, 9, 25, 2, 4, 9]
Maximum = max(L)
Minimum = min(L)
print('Maximum = ',Maximum,' Minimum = ',Minimum,' Difference = ',Maximum-Minimum)

Maximum =  28  Minimum =  2  Difference =  26

In [ ]:
L = [23, 9, 14, 2, 28, 19, 3, 15, 9, 25, 2, 4, 9]
M = L[0:len(L)-1:3]
print(M)

[23, 2, 3, 25]

In [ ]:
L1 = [4,8,7,6,5,2,10]
L2 = L1[::-1]
for i in range(len(L2)):
  L2[i] = L2[i]*2
print(L2)

[20, 4, 10, 12, 14, 16, 8]